*{
  box-sizing: border-box;
}
body {

  padding: 1em;
  margin: 0;
  height: 100%;
max-width: 100%;
  font-family: Helvetica, Arial, sans-serif;

}
label,oilchange{
  color: black;
  text-transform: lowercase;
  margin-left: 20px;

}


main{
  padding 0 2em 1em 2em;
  margin: 0 auto;
}
nav{
  text-align: center;
  padding-top: 1em;
  text-transform: uppercase;





}
 a{
  text-decoration: none;
  color: #919191;


  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 24px;


}
a:hover{
  font-weight: bold;
  color: #942A1F;

}



a.menu-link {
        float: right;
            display: block;
            padding: 1em;
              width: 125px;
        }

/* Adds Code for Pure CSS Hamburger Button */

.menu-link__hamburger {
    margin: 0 auto;
    text-align: center;
    width: 33px;
    float: left;
    transform: translate(0,0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

}

.menu-link__label {
    float: left;
    padding-left: .75em;
}

a.menu-link span {
  display: block;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background-color: #cdcdcd;
  border-radius: 3px; /* Adjust the rounding of the hamburger here */
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

a.menu-link span:first-child {
  transform-origin: 0% 0%;
}


a.menu-link span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-link.active .menu-link__hamburger {
    transform: translate(10px, 0);
}

.menu-link.active span {
  opacity: 1;
    background: black;
  transform: rotate(45deg) translate(-2px, -1px);
}

.menu-link.active span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-link.active span:nth-child(3){
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

nav[role=navigation] {
            clear: both;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }
        .js nav[role=navigation] {
            overflow: hidden;
            max-height: 0;
        }
        nav[role=navigation].active {
            max-height: 15em;
        }
        nav[role=navigation] ul {
            margin: 0;
            padding: 0;
            border-top: 1px solid #808080;
        }
        nav[role=navigation] li a {
            display: block;
            padding: 0.8em;
            border-bottom: 1px solid #808080;
        }

        @media screen and (min-width:800px) {
            a.menu-link {
               display: none;
               list-style:none;


            }
            .js nav[role=navigation] {
                max-height: none;
            }
            nav[role=navigation] ul {
                margin: 0 0 0 -0.25em;
                border: 0;

            }

            nav[role=navigation]  li {
                display: inline-block;
                margin: 0 0.25em;

            }
            nav[role=navigation] li a {
                border: 0;

            }
        }
.logo, header{
  position: absolute;
  margin-top: 4px;
  margin-left: 30px;

}
/* If you're using images in your slider, add this CSS to ensure they take up 100% of the available area */

.carousel-cell {
    width: 100%;
    padding-top: 0em;
    height: 300px;
    border-top: 3px solid #942A1F




}

.carousel-cell img {
    width: 100%;
    height: auto;
}

/* Ensures that Flickity waits until CSS has loaded to calculate the height of the cells */
.carousel:after {
  content: 'flickity';
  display: none; /* hide :after */
}

/* Style the form */
legend{
  padding-top: 2em;
  }

  select{
    cursor: pointer;
    height: 30px;
    width:100px;
    text-align: left;

  }
  button{
    width: 100px;
    background-color: #4CAF50;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 10px 20px;

  }
  /*.tab{
    font-size: 48px;
    font-weight: bold;
  }*/


#regForm {
  background-color: #E6E7E8;
  margin: 100px auto;
  padding: 40px;
  width: 50%;
  min-width: 300px;
  text-align:left;
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.4)

}

/* Style the input fields */
input {
  padding: 10px;
  width: 50%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

/*Accordion*/
.accordion {
    background-color:#942A1F ;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom: 2px solid #3d3d3d;
}

.accordion.active, .accordion:hover {
    background-color: #632116;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  color: black;
  text-align: left;
  font-family: 'Saira Semi Condensed', sans-serif;
  text-transform: none;
}

.accordionbox{
  padding: 0em;
	margin: .25em;
	background-color: white;
  text-align: center;
  background-color: #0b37aa;
  color: white;
}

/* about page */
.banner{
  background-color: #942A1F;
}

.aboutsubheader{
  border-top: 2px solid #942A1F;
  padding-top: 2em;
}
.headerbanner{
  background-color: #942A1F;
  color: white;
  padding: 2em;
  font-size: 24px;

}
@media screen and (min-width: 650px){
    .aboutmain{
font-family: 'Saira Semi Condensed', sans-serif;
text-transform: none;
text-align: center;
padding-top:1em;
font-size: 22px;
padding-right:7em;
padding-left: 7em;

}
}
.aboutstaff{
  font-family: 'Saira Semi Condensed', sans-serif;
  text-transform: none;
}


.box2{
padding: 2em;
	margin: .25em;
	background-color: white;
  justify-content: space-between;


}
.second-row{
  justify-content:space-between;
}
footer{
  background-color: #E6E7E8;
  padding: 3em;
  color: black;
  text-align: center;
  border-bottom: 4px solid #942A1F;

}

.container-1{
  justify-content: ;
  display:flex;
  padding: 10px;
  width: 30%;
}
.container-1 div{
  border: 1px solid black;
}

.box{
	padding: 2em;
	margin: .25em;
	background-color: white;



}
.about-headers{
  text-align: center;
}
@media screen and (min-width: 650px){
	.first-row, .second-row{
		display:flex;
    text-align: left;
    padding: 0;
    list-style-type: none;


	}
}
/* Services page */
@media screen and (min-width: 650px){
	.first-row-services{
		display:flex;
    text-align: center;
    padding: 0;
    justify-content: space-between;
    list-style:none;
  }

.serviceslist{
  text-align: left;
  font-family: 'Saira Semi Condensed', sans-serif;
  text-decoration: none;
  padding: 10em;
  margin: auto;
  text-transform: none;

}

.servicesheader{
  text-transform: capitalize;
  border-bottom: 3px solid #942A1F;


}
.servicessubheader{
  font-family: 'Saira Semi Condensed', sans-serif;
  text-transform: none;
  padding-left: 5em;
  padding-right: 5em;
  font-size: 24px;
}


/* contact page */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contactwelcome{
  font-family: 'Saira Semi Condensed', sans-serif;
  text-transform: none;
  text-align: center;
  padding-top:1em;
  font-size: 22px;
  padding-right:7em;
  padding-left: 7em;
  border-top: 3px solid #942A1F;
}

/* footer css */
.footerinfo{
  font-family: 'Saira Semi Condensed', sans-serif;
  color: black;
  font-size: 20px;
  list-style: none;
}

/* pattern library */
.mechanic-red{
  color: #942A1F;
}
.bone{
  color:#E6E7E8;

}
.black{
  border-bottom: 1px solid black;
}

.saira-semi{
  font-family: 'Saira Semi Condensed', sans-serif;
  text-transform: none;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.common-paragraphs{

}
.logo-footer{
  position: absolute;
  margin-top: 20px;
  margin-left: 30px;
}

.li{
  list-style-type:none;
}
}
ul{
  list-style-type: none;
}
